<!-- 

<h1>Listado de usuarios en modo admin</h1>
<ul class="list-group">
    <li  (click)="seleccionarUsu(pj)" class="list-group-item" *ngFor="let pj of personajes ">{{ pj.nombre }} {{ pj.apellidos }} 
         <button (click)="eliminarUsu(pj)"> eliminar</button><br> </li> 
</ul> -->

   

    <div class="mover">
        <div class="testbox">
            <h1>Listado de usuarios en modo admin</h1>

        <ul class="list-group">
            
        <div class="lista">
            <li  (click)="seleccionarUsu(pj)" class="list-group-item" *ngFor="let pj of personajes "><label>{{ pj.nombre }} {{ pj.apellidos }} 
            </label><br><a class="buttonE"><button  (click)="eliminarUsu(pj)"> eliminar</button></a><br> </li> 
           </div>
           <div class="botons">
            <a class="buttonS"><button routerLink=''>Volver al menu principal</button> </a>
        </div><br>
        </ul>
            
        
        
        
        </div>
           </div>