
<div class="mover">
<div class="testbox">
  <h1>Registration</h1>

  <form (ngSubmit)="anadirPersonaje()">
  
   <label ></label>
  <input id="nombrePj"  type="text" name="nombre" [(ngModel)]="personaje.nombre" placeholder="Name" required/>
  <br>
  <label></label>
  <input id="apellidosPj" type="text" name="apellidos" [(ngModel)]="personaje.apellidos" placeholder="Surname" required/>
  <br>
  <label></label>
  <input id="correoPj" type="text" name="edat" [(ngModel)]="personaje.edat" placeholder="Age" required/>
  <br>
  <label ></label>
  <input id="correoPj" type="text" name="foto" [(ngModel)]="personaje.foto" placeholder="Foto" required/>
  <br>
  <label ></label>
  <input id="correoPj" type="text" name="descripcion" [(ngModel)]="personaje.descripcion" placeholder="Description" required/>
  <br>
   <label></label>
  <input id="correoPj" type="email" name="correo" [(ngModel)]="personaje.correo" placeholder="Email" required/>
  <br>
  <label></label>
  <input id="contrasenaPj" type="password" name="contrasena" [(ngModel)]="personaje.contrasena" placeholder="Password" required/>
  <br>
  <label></label>
  <input id="confcontrasenaPj" type="password" name="confcontrasena" [(ngModel)]="personaje.confcontrasena" placeholder="Confirm Password" required/>
  <br>

<div class="botons">
  <a class="buttonR"><button  routerLink='lista' type="submit" >Register</button> </a>
  <a class="buttonS"><button routerLink=''>Cancelar</button> </a>
</div>
  </form>
</div>
</div>
  