

     <div class="mover">
          <div class="testbox">
              <h1>Bienvenido!</h1>
  
          <ul class="list-group">
              
          <div class="lista">
               <h1>---------------------------------------------------------------</h1>
               <button class="buttonE" routerLink='lista'>Usuarios Registrados</button> 
          
               <br>
          
               
               <br>
           
               <button class="buttonE" routerLink='agregar'>formulario</button> 
               <br>
          
               
          
               <br>
               
          
               <button class="buttonE"  routerLink='admin'>admin</button> 
               <br>
          
               <br>
               <h1>---------------------------------------------------------------</h1>
          
             </div>
          </ul>
              
          
          
          
          </div>
             </div>