     <h1>---------------------------------------------------------------</h1>
     <button  routerLink='lista'>Usuarios Registrados</button> 

     <br>

     
     <br>
     <!-- <app-personajes [personajesCompHijo]="personajes" (onEnviarSelec)="seleccionarUsu($event)"></app-personajes>  <h1>---------------------------------------------------------------</h1>
     <button   routerLink='detalles'>detalles</button> 
     <br>

     Detalles
     <br>
     
     <app-detalles [seleccionado]="seleccionado" ></app-detalles> -->

     <h1>---------------------------------------------------------------</h1>
     <button  routerLink='agregar'>formulario</button> 
     <br>

     

     <br>
     <!-- <app-agregar (onNuevoPersonaje)="anadirPersonaje($event)" [personajesComponenteAgregar]="personajes"></app-agregar>  -->
        

     <h1>---------------------------------------------------------------</h1>
     <button   routerLink='admin'>admin</button> 
     <br>

     <br>
     <!-- <app-administrador [seleccionado]="seleccionado" [personajes]="personajes" ></app-administrador> -->
     <h1>---------------------------------------------------------------</h1>

